{% extends "base.html" %}

{% block content %}
<h1>My Dashboard</h1>

<div class="card">
    <h2>Account</h2>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Name:</strong> {{ user.first_name }}</p>
    <p><strong>Surname:</strong> {{ user.last_name }}</p>
    <p><strong>Phone:</strong> {{ user.phone }}</p>
    <p><strong>Role:</strong> {{ user.get_role_display }}</p>

    <div class="actions">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <a class="btn btn-light" href="{% url 'simple_password_reset' %}">Change Password</a>
    <a class="btn btn-accentwide" href="{% url 'edit_profile' %}">Edit Profile Information</a>

            <button class="btn btn-danger" type="submit">Logout</button>
            <a href="{% url 'delete_profile' %}" style="background: darkred" class="btn">Delete account </a>
        </form>

    </div>

</div>


<hr>

<h2>Favorite Listings ({{ favorite_listings.count }})</h2>
{% for listing in favorite_listings %}
    <div class="card">
        <h3><strong>Name: </strong>{{ listing.name }}</h3>
        <p><strong>Address: </strong>{{ listing.address }}</p>
        <p><strong>City: </strong>{{ listing.city }}</p>
        <p><strong>District: </strong>{{ listing.district }}</p>
        <p><strong>Price: </strong>{{ listing.price }} EUR</p>

        <div class="actions">
            <a class="btn " href="{% url 'listings:detail' listing.pk %}">
                View Details
            </a>

            <form action="{% url 'listings:toggle-favorite' listing.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-light" type="submit">
                    Remove form favourites
                </button>
            </form>
        </div>
    </div>
{% empty %}
    <div class="card">
        <p>No favorites yet.</p>
    </div>
{% endfor %}

<hr>

<h2>My Inquiries ({{ inquiries.count }})</h2>
{% for inquiry in inquiries %}
    <div class="card">
        <h3>Inquiry for {{ inquiry.listing.name }}</h3>
        {% if inquiry.posted_by %}
            <p><strong>Created by:</strong> {{ inquiry.posted_by.username }}</p>
        {% endif %}
        <p><strong>Created on:</strong> {{ inquiry.created_at }}</p>
        <p><strong>Status:</strong> {{ inquiry.status }}</p>

        <div class="actions">
            <a class="btn" href="{% url 'accounts:contact-detail' inquiry.pk %}">
                View Details
            </a>
            <a class="btn btn-dark" href="{% url 'accounts:contact-edit' inquiry.pk %}">
                    Edit Inquiry
                </a>

                {% if user == inquiry.posted_by or user == inquiry.listing.broker or user.is_superuser %}
                    <a class="btn btn-danger" href="{% url 'accounts:contact-delete' inquiry.pk %}">
                        Delete
                    </a>
                {% endif %}

        </div>
    </div>
{% empty %}
    <div class="card">
        <p>No inquiries yet.</p>
    </div>
{% endfor %}

<hr>

<h2>Credit Requests ({{ credit_requests.count }})</h2>
{% for request in credit_requests %}
    <div class="card">
        <h3>Credit Request</h3>
        {% if request.created_by %}
            <p><strong>Created by:</strong> {{ request.created_by.username }}</p>
        {% else %}
            <p><strong>Created by:</strong> Guest</p>
        {% endif %}
        <p><strong>Created on:</strong> {{ request.created_at }}</p>
        <p><strong>Property price:</strong> {{ request.property_price }}</p>

        {% if request.linked_property %}
            <p><strong>Linked property:</strong> {{ request.linked_property.name }}</p>
        {% endif %}

        <div class="actions">

                {% if user == request.created_by or user.is_superuser %}
                    <a class="btn btn-danger" href="{% url 'CreditCalculator:credit_delete' request.pk %}">
                        Delete
                    </a>
                {% endif %}

        </div>
    </div>
{% empty %}
    <div class="card">
        <p>No credit requests.</p>
    </div>
{% endfor %}

<hr>

<h2>Early Repayment Reports ({{ early_repayment_reports.count }})</h2>
{% for report in early_repayment_reports %}
    <div class="card">
        <h3>Early Repayment Report</h3>
        <p><strong>Created on:</strong> {{ report.created_at }}</p>
        <p><strong>Status:</strong> {{ report.get_status_display }}</p>

        <div class="actions">
            <a class="btn" href="{% url 'CreditCalculator:credit_early_repayment_report_detail' report.pk %}">
                View Status
            </a>

            {% if report.status == "ready" %}
                <a class="btn btn-accent" href="{% url 'CreditCalculator:credit_early_repayment_report_download' report.pk %}">
                    Download PDF
                </a>
            {% endif %}
        </div>
    </div>
{% empty %}
    <div class="card">
        <p>No early repayment reports yet.</p>
    </div>
{% endfor %}

{% if user.role == "broker" %}
    <hr>

    <h2>My Listings ({{ my_listings.count }})</h2>
    {% for listing in my_listings %}
        <div class="card">
            <h3><strong>Name: </strong>{{ listing.name }}</h3>
            <p><strong>Address: </strong>{{ listing.address }}</p>

            <div class="actions">
                <a class="btn" href="{% url 'listings:detail' listing.pk %}">
                    View Details
                </a>
                <a class="btn btn-dark" href="{% url 'listings:edit' listing.pk %}">
                        Edit Listing
                </a>
                <a class="btn btn-danger" href="{% url 'listings:delete' listing.pk %}">
                    Delete
                </a>
            </div>

        </div>
    {% empty %}
        <div class="card">
            <p>No listings yet.</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}